@charset "utf-8";


body {
    background-color: black;
    border: 20px White;
    font-size: 22px;
    text-align: center;
    color: White;
}

img {
    margin-right: 400px;
    margin-left: 400px;
}