@charset "utf-8";


body {
    background-color: black;
    border: solid 20px red;
    border-width: thick;
    font-size: 22px;
    text-align: center;
    color: White;
}

img {
    display: block;
    margin: auto;
    width: 80%;
    border: solid 10px white;
}